# # specific branch builbhbcnvcdvcfdffcmnddvbhjdffhkjhndkjfvfbgnbfhcbhjvhjbcmncxscdccvfvffcdsvdsvdaefewf
trigger: 
- main
# pr:
#   branches:
#     include:
#       - main 
#       - may*    
pool:
  vmImage: ubuntu-latest

stages:
- stage: Build 
  jobs:
    - job: 'test'
      displayName: 'test'
      steps:
      - task: Maven@1
        inputs:
          mavenPomFile: 'pom.xml'
          goals: 'test'
          options: '-Dtest=AppTest'
          publishJUnitResults: true
          testResultsFiles: '**/*.xml'
          javaHomeOption: 'JDKVersion'
          mavenVersionOption: 'Default'
          mavenAuthenticateFeed: false
          effectivePomSkip: false
          sonarQubeRunAnalysis: false

      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            # Write your PowerShell commands here.

            Write-Host "Hello World"
      # - task: ServiceNow-DevOps-Build-Sonar-Registration@1
      #   # condition: succeededOrFailed()
      #   inputs:
      #     connectedServiceName: 'checkmarx06-RiyaDevOpsIDC1Project-ServiceNow DevOps Service Connection'
      #     sonarProjectKey: 'riyapulusuganti05_Drepo'
      #     sonarInstanceUrl: 'https://sonarcloud.io/'

# - stage: Security 
#   jobs:
#     - job: 'test'
#       displayName: 'test'
#       steps:      
#       - task: PublishPipelineArtifact@1
#         inputs:
#           targetPath: '$(System.DefaultWorkingDirectory)'
#           artifact: 'Build-Pipeline-Artifact'
#           publishLocation: 'pipeline'

#       # - task: ServiceNow-DevOps-Build-Security-Results@1
#       #   inputs:
#       #     connectedServiceName: 'rpz3-Basic Project - 1-ServiceNow DevOps Service Connection'
#       #     securityResultAttributes: |
#       #       {
#       #           "scanner": "Veracode", 
#       #           "applicationName": "VeraDemo-10", 
#       #           "buildVersion": "", 
#       #           "securityToolId": "764a85fd3bf126109302bb7e53e45af8"
#       #           }



# - stage: Prod
#   pool: server
#   jobs:
#   - job: 'j2'
#     steps:
#        - task: ServiceNow-DevOps-Server-Change-Acceleration@1
#          inputs:
#            connectedServiceName: 'rpz3-Basic Project - 1-ServiceNow DevOps Service Connection'
#            UpstreamJob: 'Build'
#            changeRequestDetails: |
#              {
#                  "setCloseCode" : true,
#                  "autoCloseChange" : true,
#                  "attributes": {
#                      "category": "DevOps",
#                      "chg_model": {
#                              "name": "DevOps"
#                    },
#                    "start_date": "2021-01-05 08:00:00",
#                    "end_date": "2021-01-08 08:00:00"
#                  }
#                }
#       # - task: InvokeRESTAPI@1
#       #   inputs:
#       #     connectionType: 'connectedServiceName'
#       #     serviceConnection: 'innovationtool-RiyaDevOpsIDC1Project-Generic Connection'
#       #     method: 'POST'
#       #     body: |
#       #       {
#       #       "buildNumber":"$(build.buildId)",
#       #       "isMultiBranch":"false",
#       #       "branchName":"$(build.sourceBranchName)",
#       #       "changeRequestDetails":{
#       #       "autoCloseChange":true,
#       #       "attributes":{
#       #       "chg_model":{
#       #       "name":"Normal"
#       #       },
#       #       "assignment_group":"a715cd759f2002002920bde8132e7018"
#       #       }
#       #       }
#       #       }
#       #     urlSuffix: '/api/sn_devops/v1/devops/orchestration/changeControl?toolId=a98ee9c93bf56210899fb10864e45a93&projectId=82de290d3bf56210899fb10864e45a83'
#       #     waitForCompletion: 'true'

# - stage: Deploy
#   jobs:
#     - job: 'Deploy'
#       steps:       
#           #This Agent task helps you to get the change request number which created above. 
#         - task: ServiceNow-DevOps-Agent-Get-Change@1
#           inputs:
#             connectedServiceName: 'rpz3-Basic Project - 1-ServiceNow DevOps Service Connection'
#             projectName: '$(system.teamProject)'
#             pipelineName: '$(build.definitionName)'
#             stageName: 'Prod'
#             jobName: 'j2'
#             buildNumber: '$(build.buildId)'
#             attemptNumber: '$(System.JobAttempt)'
#             branchName: '$(Build.SourceBranchName)'
#           #This Agent task helps you to update the change request details like short description, work notes,description..etc. 
#         - task: ServiceNow-DevOps-Agent-Update-Change@1
#           inputs:
#             connectedServiceName: 'rpz3-Basic Project - 1-ServiceNow DevOps Service Connection'
#             changeRequestNumber: 'CHG0030021'
#             changeRequestDetails: |
#               {
#               "short_description": "Updating the short_description second time",
#               "work_notes": "updated work notes seconf time",
#               "description": "change description updating time 12"
#               }
