# # specific branch builbhbcnvcdvcfdffcmnddvbhjdffhkjhndkjfvfbgnbfhcbhjvhjbcmncxscdccvfvffcdsvdsvdaefewf
trigger: 
- main
pool:
  vmImage: ubuntu-latest

stages:
- stage: Build 
  jobs:
    - job: 'test'
      displayName: 'test'
      steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            # Write your PowerShell commands here.
            Write-Host "Hello World"
    
