# # specific branch builbhbcnvcdvcfdffcmnddvbhjdffhkjhndkjfvfbgnbfhcbhjvhjbcmncxscdccvfvffcdsvdsvdaefewf
trigger: 
- main
pool:
  vmImage: ubuntu-latest

stages:
- stage: Build 
  jobs:
    - job: 'test'
      displayName: 'test'
      steps:
      - task: Maven@1
        inputs:
          mavenPomFile: 'pom.xml'
          goals: 'test'
          options: '-Dtest=AppTest'
          publishJUnitResults: true
          testResultsFiles: '**/*.xml'
          javaHomeOption: 'JDKVersion'
          mavenVersionOption: 'Default'
          mavenAuthenticateFeed: false
          effectivePomSkip: false
          sonarQubeRunAnalysis: false

      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            # Write your PowerShell commands here.

            Write-Host "Hello World"
